<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@title} | " unless @title.blank? %>Dummy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_tag(:h1, @title) unless @title.blank? %>
    <%= yield %>
  </body>
</html>
